body{
    background-color: blanchedalmond;
    margin: 0;
}

ul, h1, h2, h3, p{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    width: 1200px;
}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(221, 103, 82);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
}
.header-list{
    display: flex;
}
.header-link{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 50px;
}

.hero{
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img{
    width: 550px;
    margin-right: 50px;
}
.hero-title{
    font-size: 48px;
    font-weight: 700;
    color: rgb(113, 27, 12);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.hero-text{
    font-size: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

span{
    font-size: 22px;
}

.dough{
    background-color: rgb(255, 167, 123);
}

.dough-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.dough-img{
    width: 550px;
}

.dough-title{
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 0.83em;
    color: rgb(113, 27, 12);
}

.dough-list{
    list-style: disc;
    margin-left: 50px;
    margin-bottom: 1em;
    font-size: 22px;
}

.dough-text{
    font-size: 22px;
}

.filling{
    padding-top: 50px;
    padding-bottom: 50px;
}
.filling-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filling-img {
    width: 550px;
}
.filling-title {
    font-size: 33px;
    font-weight: 700;
    color: rgb(113, 27, 12);
    margin-bottom: 0.83em;
}
.filling-list{
    list-style: disc;
    margin-left: 50px;
    font-size: 22px;
    margin-bottom: 1em;
}

.filling-text{
    font-size: 22px;
}

.facts{
    background-color: rgb(255, 167, 123);
}

.facts-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facts-img{
    margin-right: 30px;
    width: 550px;
}

.facts-title{
    font-size: 33px;
    margin-bottom: 0.83em;
    color: rgb(113, 27, 12);
}

.facts-list{
    font-size: 22px;
    margin-bottom: 1em;
    list-style: disc;
}

.footer{
    padding: 10px;
    background-color: rgb(221, 103, 82);
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: white;
    font-size: 18px;
}

.footer-img{
    width: 30px;
    margin: 20px;
}